* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    background-color: #22c587;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40vh;
}

.url_input, .convert_btn {
    font-size: 1.3rem;
    padding: 5px 10px;
}
.url_input {
    border-radius: 4px 0 0 4px;
    width: 30rem;
    text-align: left;
    border: 2px solid #eee;
    background: #eee;
    outline: none;
}
.url_input:focus {
    border: 2px solid #0485ff;
}
.convert_btn {
    border-radius: 0px 4px 4px 0px;
    border: 2px solid #0485ff;
    background: #0485ff;
    color: white;
}